body {
    margin: auto 0;
    font-family: "Noto Sans", sans-serif;
}

.zone {
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    transition: all 0.3s linear;
}

/* NAVIGATION */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.6em;
    margin: 0px 60px 0px 50px;
    background-color: white;
    padding: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

li {
    padding: 10px 30px 10px 30px;
}

a {
    color: black;
    text-decoration: none;
}

li span {
    font-family: 'Arvo', serif;
}

.push {
    margin-left: auto;
}

/* COVER */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 40px;
    margin: 0;
}

.pink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
    margin-left: 30px;
    max-width: 40rem;
    font-size: 0.7em;

}

.cover {
    height: 40rem;
    width: auto;
    align-self: flex-end;
    margin-left: auto;
    padding: 0px 20px 20px 0px;
}

h1 {
    font-family: "Arvo", serif;
    color: black;
}

h3 {
    font-family: "Noto Sans", sans-serif;
    color: black;
}

.buffer {
    margin-top: 11vh;
    font-size: 1em;
    text-align: center;
}

/* GRID */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 100px;
}

.box {
    cursor: pointer;
    max-width: 100%;
    margin: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 300px 300px 0px 0px;
    border:2px solid darkgrey;
}

.box:hover {
    border:10px solid black;
    -webkit-transform: rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.box > img {
    width: 100%;
}

figcaption {
    font-size: 0.4em;
    color: black;
    text-align: center;
}

figcaption span {
    font-family: "Arvo", serif;
    color: black;
}

footer {
    padding: 3em;
    text-align: center;
    color: darkgrey;
}
